.mainContainer{
  background-image: url(../src/imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.logo-style{
  background: rgba(0, 12, 18, 0.699);
}